{% extends "template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_macros.html" import render_field_with_errors, render_field %}

{% block header %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
{% endblock %}

{% block app_content %}
    <div>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token }}
        <div class="col-lg-2 class-padding">
            <h1>Input Form</h1>


            {{ wtf.form_field(form.num) }}

            {{ wtf.form_field(form.steps) }}


            <div class="card-header">
                {{ form.noise.label }}
            </div>
            {{ wtf.form_field(form.noise) }}

            {{ wtf.form_field(form.custom_noise) }}

            {{ wtf.form_field(form.matr) }}

            <div class="card mb-4">
                <div class="card-header">
                    {{ form.label }}
                </div>
                <div class="card-body">
                    {{ render_field_with_errors(form.algs, ri="multicheckbox") }}
                </div>
            </div>

            <ul class="nav nav-tabs">
                {% for choice in form.ALGORITMS %}
                    <li class="nav-item {% if loop.index == 1 %} active {% endif %}">
                        <a class="nav-link" data-toggle="pill"
                           href="#{{ choice }}">{{ choice }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for choice in form.ALGORITMS %}
                    <div class="tab-pane fade in {% if loop.index == 1 %} active {% endif %}" id="{{ choice }}">
                        {% for param in form.ALGO_PARAMETERS[choice] %}
                            {{ wtf.form_field(form[choice + "_" + param]) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {{ wtf.form_field(form.submit) }}
        </div>


        <div class="col-lg-8 class-padding pull-right">
            {% set matrix_label=form.matrix.label.text %}
            {% set active_flag = True %}
            {#  Create tab for matrix#}
            <ul class="nav nav-tabs">
                {% set clazz="" %}
                {% if form.num.data %}
                    {% set clazz="active" %}
                    {% set active_flag = False %}
                {% else %}
                    {% set clazz="disabled" %}
                {% endif %}
                <li class="nav-item {{ clazz }}">
                    <a class="nav-link" data-toggle="pill"
                       href="#{{ matrix_label }}">{{ matrix_label }}</a>
                </li>


                {% set names = ["LVP_Dynamic", "ALVP_Dynamic", "Error_comparison"] %}
                {% for name in names %}
                    {% set clazz="" %}
                    {% if name in plots and active_flag %}
                        {% set clazz="active" %}
                        {% set active_flag = False %}
                    {% elif not name in plots %}
                        {% set clazz="disabled" %}
                    {% endif %}
                    <li class="nav-item {{ clazz }}">
                        <a class="nav-link" data-toggle="pill"
                           href="#{{ names[loop.index - 1] }}">{{ names[loop.index - 1] }}</a>
                    </li>
                {% endfor %}
            </ul>

            {# Create tab with matrix to fill in #}
            <div class="tab-content">
                {% set active_flag = True %}
                {% if form.num.data %}
                    {% set clazz="active" %}
                    {% set active_flag = False %}
                {% else %}
                    {% set clazz="disabled" %}
                {% endif %}
                <div class="tab-pane fade in {{ clazz }} margin-down panel panel-default row-style" id="{{ matrix_label }}">
                    <div class="panel-body {% if form.num.data and form.num.data <= 12 %} is-hidden {% endif %}">
                        {{ wtf.form_field(form.file_matrix) }}
                    </div>
                    <div class="panel-body {% if form.num.data and form.num.data > 12 %} is-hidden {% endif %}">
                            {% for row in form.matrix %}
                                {% set row_num=loop.index0 %}
                                <div class="row row-style" id="matrix-{{ row_num }}">
                                    {% for cell in row.fiel %}
{#                                        {% set sm_size = if form.num.data < 6 2 else 1 %}#}
                                        <div class="col-sm-1 form-group">
                                            <label class="is-hidden" for="matrix-{{ row_num }}-fiel-{{ loop.index0 }}"></label>
                                            <input class="form-control"
                                                   id="matrix-{{ row_num }}-fiel-{{ loop.index0 }}"
                                                   name="matrix-{{ row_num }}-fiel-{{ loop.index0 }}"
                                                   type="text"
                                                   value="{{ cell.data }}">
                                        </div>
                                    {% endfor %}
{#    2 6 900 #}
{#                                #}
                                </div>
                            {% endfor %}
                    </div>
                </div>

                {% set clazz="" %}
                {% if name in plots and active_flag %}
                    {% set clazz="active" %}
                    {% set active_flag = False %}
                {% elif not name in plots %}
                    {% set clazz="disabled" %}
                {% endif %}
                {% for name in names %}
                    {% if name in plots %}
                        <div class="tab-pane fade in {{ clazz }} margin-down"
                             id="{{ names[loop.index - 1] }}">
                            {{ plots[name] | safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
    </div>

{% endblock %}