{% macro render_field_with_errors(field) %}
    {% set is_collapsible = kwargs['is_collapsible'] if 'is_collapsible' in kwargs else False %}
    {% if is_collapsible %}
    <div class="mb-3" id="{{ field.id }}-show-container"{% if field.data %} style="display: none;"{% endif %}>
      <a href="#" class="show-link" data-container="{{ field.id }}-container" data-show-container="{{ field.id }}-show-container"><i class="fa fa-plus"></i> {{ field.label.text }}</a>
    </div>
    <div id="{{ field.id }}-container"{% if not field.data %} style="display: none;"{% endif %}>
    {% endif %}

      {% set is_required = kwargs['is_required'] if 'is_required' in kwargs else field.flags.required %}
      {% set label_text = field.label.text + ' *' if is_required else field.label.text %}
      <div class="form-group {% if field.errors %} has-error{% endif -%} {% if 'formrow' in kwargs %} row{% endif -%}">
        {% if 'label_hidden' in kwargs or ('ri' in kwargs and kwargs['ri'] == 'checkbox') %}
        {% else %}
          {% set label_class = "col-sm-2 col-form-label" if 'formrow' in kwargs else "mb-0" %}
          {{ field.label(text=label_text, class=label_class) }}
        {% endif %}

        {% if 'formrow' in kwargs %}
        <div class="col-sm-10">
        {% endif %}

        {% if field.description %}
          <div class="form-text mt-0 text-muted w-100">
            {{ field.description }}
          </div>
        {% endif %}

        <div class="input-group">
          {% set field_class = kwargs['class'] if 'class' in kwargs else '' %}
          {% set field_class = field_class + ' form-control' %}
          {% if field.errors %}
            {% set field_class = field_class + ' is-invalid' %}
          {% endif %}

          {% if 'ri' in kwargs and kwargs['ri'] == 'multicheckbox' %}
            <fieldset class="form-group">
              {% for choice in field %}
                  <div class="form-check">
                      {{ choice(class="form-check-input") }}
                      {{ choice.label(class="form-check-label") }}
                  </div>
              {% endfor %}
            </fieldset>
          {% elif 'ri' in kwargs and kwargs['ri'] == 'multicheckbox-inline' %}
            <fieldset class="form-group my-auto">
              {% for choice in field %}
                  <div class="form-check form-check-inline">
                      {{ choice(class="form-check-input") }}
                      {{ choice.label(class="form-check-label") }}
                  </div>
              {% endfor %}
            </fieldset>
          {% elif 'ri' in kwargs and kwargs['ri'] == 'checkbox' %}
            <div class="form-check">
                {{ field(class="form-check-input") }}
                {{ field.label(class="form-check-label") }}
            </div>
          {% elif 'ri' in kwargs and kwargs['ri'] == 'switch' %}
            <div class="custom-control custom-switch">
              {{ field(class="custom-control-input") }}
              <label class="custom-control-label" for="{{ field.id }}"></label>
            </div>
          {% elif 'ri' in kwargs and kwargs['ri'] == 'radio-buttons' %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              {% for choice in field %}
                  {% set color = kwargs['colors'][loop.index0] if 'colors' in kwargs else 'secondary' %}
                  <label class="btn btn-outline-{{ color }}">
                    <input type="radio" id="{{ choice.id }}" name="{{ field.id }}" value="{{ choice.id[-1] }}" {% if choice.checked %}checked {% endif %}> {{ choice.label.text }}
                  </label>
              {% endfor %}
            </div>
          {% elif 'ri' in kwargs and kwargs['ri'] == 'radio' %}
            {{ render_radio_buttons(field) }}
          {% else %}
            {% if 'class' in kwargs %}
              {% set _dummy=kwargs.pop('class') %}
            {% endif %}
            {{ field(class=field_class, **kwargs)|safe }}
          {% endif %}

          {% if 'ri' in kwargs %}
            {% if kwargs['ri'] == 'rrule' %}
              <script type="text/javascript">
                $( function() {
                  $("textarea[name=recurrence_rule]").recurrenceinput({lang:'de', startField: "start",  ajaxURL: "{{ url_for('event_rrule') }}", firstDay: 1});
                });
              </script>
            {% endif %}
          {% endif %}
        </div>

        {% if field.errors %}
        <div class="invalid-feedback d-block">
            {% for error in field.errors %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% if 'formrow' in kwargs %}
      </div>
        {% endif %}
      </div>

    {% if is_collapsible %}
      <div class="mb-3" id="{{ field.id }}-hide-container">
        <a href="#" class="hide-link" data-container="{{ field.id }}-container" data-show-container="{{ field.id }}-show-container"><i class="fa fa-minus"></i> {{ field.label.text }}</a>
      </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(class="btn btn-primary", **kwargs)|safe }}</p>
{% endmacro %}